<div class="input-container">
  <input type="text" [(ngModel)]="searchText" (input)="onSearchTextChanged()" placeholder="Search city...">
  <select [(ngModel)]="selectedCity" (change)="onCityChanged()">
    <option *ngFor="let city of cities" [ngValue]="city.name">{{ city.name }}</option>
  </select>
</div>

<div class="dropdown">
  <button (click)="toggleDropdown()" class="dropbtn">Select City</button>
  <div id="myDropdown" class="dropdown-content" [class.show]="dropdownOpen">
    <input type="text" [(ngModel)]="searchQuery" (input)="filterCities()" placeholder="Search city...">
    <a *ngFor="let city of filteredCities" (click)="selectCity(city)">{{ city.name }}</a>
  </div>
</div>
