
<div class="weather-cards" *ngIf="selectedCity || searchText"> 
  <div *ngFor="let city of cities" class="weather-card" [hidden]="!isCityDisplayed(city.name)">

    <h3 class="city-name">{{ city.name }}</h3> 
    <div class="city-image">
      <img [src]="getWeatherImage(city.weather)" alt="City Image"> 
    </div>
    <div class="weather-details">
      <p class="temperature">Temperature: <span>{{ city.temperature }}</span> °C</p> 
      <p class="weather">Weather: <span>{{ city.weather }}</span></p> 
    </div>
  </div>
</div>
<div *ngIf="searchQuery">
  <div *ngFor="let city of cities">
  <h2>Weather for {{ city.name }}</h2>
  <p>Temperature: {{ city.temperature }}</p>
  <p>Condition: {{ city.condition}}</p>
</div>
</div>
<div *ngIf="!searchQuery">
  <p>Please select a city to see the weather information.</p>
</div>
