<div *ngIf="selectedCity || searchText"> <!-- Display only if there is a selected city or search text -->
  <div *ngFor="let city of cities" [hidden]="!isCityDisplayed(city.name)">
    <!-- Loop through each city in the cities array -->
    <h3 class="city-name">{{ city.name }}</h3> <!-- Display the city name -->
    <div class="city-image">
      <img [src]="getWeatherImage(city.weather)" alt="City Image"> <!-- Display the city image based on weather -->
    </div>
    <h3 class="temperature">Temperature: <span>{{ city.temperature }}</span> °C</h3> <!-- Display the city temperature -->
    <p class="weather">Weather: <span>{{ city.weather }}</span></p> <!-- Display the city weather -->
  </div>
</div>
